.avatar {
  height: 300px;
  width: 300px;
}
.fullname {
  font-size: 24px;
  line-height: 1.25;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px  ;
}

.login {
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  color: #848d97;
  font-weight: 300;
}

.followButton {
  color: #c9d1d9;
  border: none;
  background: #21262d;
  width: 100%;
}

.bio{
  color: white;
  font-size: 18px;
  margin-block: 10px;
}

.intro{
   color: white;
  font-size: 15px;
  margin-block: 10px;
}

.repoParent{
  color:#848d97;
  font-size: 14px;
  margin-top: 20px;
  position: relative;
}
.visibility {
  border: 1px solid #848d97;
  border-radius: 2em;
  font-size: 0.75rem;
  padding-inline: 6px;
  padding-block: 3px;
  margin-left: 10px;
}

.languageCircle{
  height: 12px;
  width: 12px;
  border-radius: 50%;
margin-right: 10px;}

.filterNotMatch{
  color:#fff;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 300px;
}

.star{
    background: rgba(256, 256, 256, 0.1);
  height: 25px;
  width: 60px;
  border-radius: 6px;
  padding-top: 5px;
  padding-inline: 10px 20px;
  display: flex;
  position: absolute;
  right: 10px;
  top: 20px;
}